@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .index-prices-items {
    counter-reset: index-prices-item;
  }
  .index-prices-item::after {
    counter-increment: index-prices-item;
    content: counter(index-prices-item);
    @apply w-10 h-10 shrink-0 ml-auto grid text-center place-content-center place-items-center rounded-full text-white;
  }
  .index-prices-item:nth-child(n)::after {
    @apply bg-[#FF8D30];
  }
  .index-prices-item:nth-child(2n)::after {
    @apply bg-[#FFBD30];
  }
  .index-prices-item:nth-child(3n)::after {
    @apply bg-[#FFD74B];
  }

  .index-promo-items {
    counter-reset: index-promo-item;
  }
  .index-promo-item {
    @apply flex rounded-xl px-5 py-6 pb-11 -mt-5;
  }
  .index-promo-item:last-child {
    @apply pb-7;
  }
  .index-promo-item:first-child {
    @apply mt-0;
  }
  .index-promo-item::after {
    counter-increment: index-promo-item;
    content: counter(index-promo-item);
    @apply text-white shrink-0 ml-auto;
  }
  .index-promo-item:nth-child(n) {
    @apply bg-[#FF8D30];
  }
  .index-promo-item:nth-child(2n) {
    @apply bg-[#FFA530];
  }
  .index-promo-item:nth-child(3n) {
    @apply bg-[#FFBD30];
  }
  .index-promo-item:nth-child(4n) {
    @apply bg-[#FFD74B];
  }

  .form-calendar-control {
    @apply bg-white opacity-30 cursor-default relative border-[#D6D9E6] border-[1px] text-[#444444] p-1 w-full h-full;
  }

  .form-calendar-control-row:not(:first-child) {
    @apply mt-[-3px];
  }

  .form-calendar-control-cell {
    @apply ml-[-3px];
  }

  .form-calendar-control[data-allowed="true"] {
    @apply bg-[#EDEFF6] text-[#1D2E5B] opacity-100 font-medium cursor-pointer;
  }

  .form-calendar-control[data-in-range="true"] {
    @apply bg-[#1D2E5B] text-white border-[#1D2E5B] opacity-100;
  }

  .form-calendar-control[data-selected="true"] {
    @apply border-[#FF5C23] border-[2px] z-[2] opacity-100;
  }

  .form-routes-activity-field {
    @apply relative block;
  }

  .form-routes-activity-field-label {
    @apply text-[#1D2E5B] font-medium text-[18px] leading-none relative flex items-center mb-2;
  }

  .form-routes-activity-field:not(:only-child)
    .form-routes-activity-field-label {
    @apply pl-2;
  }

  .form-routes-activity-field:not(:only-child)
    .form-routes-activity-field-label::before {
    @apply content-[""] absolute block top-1/2 -translate-y-1/2 left-0 -translate-x-1/2 w-[6px] h-[6px] rounded-full bg-[#1D2E5B];
  }

  .form-routes-activity-field:not(:only-child)
    .form-routes-activity-field-label::after {
    @apply content-[""] absolute block top-1/2 -translate-y-1/2 right-full w-[15px] h-[2px] bg-[#1D2E5B];
  }

  .form-routes-activity-field:not(:last-child)::before {
    @apply content-[""] absolute block top-3 right-full left-[-15px] w-[2px] h-[calc(100%+7px)] bg-[#1D2E5B];
  }
}
